body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: EF_hyunydororong;
  src: url("../public/font/EF_hyunydororong\(윈도우용_TTF\).ttf");
}

#root *{
  font-family: EF_hyunydororong;
}